* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

body {
    background: black;
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
}

header {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#frontpage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_bookings {
    margin-right: px;
}

#logo1 {
    height: 190px;
    width: auto;
}

#hamburger {
    margin-left: px;
}

#frontpage_picture {
    width: 50vw;
}

#menus {
    width: 100vw;
    margin-top: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "m1 p1" "p2 m2" "m3 p3" "p4 m4";
}

#menu1 {
    grid-area: m1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture1 {
    grid-area: p1;
}

#menu2 {
    grid-area: m2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture2 {
    grid-area: p2;
}

#menu3 {
    grid-area: m3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture3 {
    grid-area: p3;
}

#menu4 {
    grid-area: m4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture4 {
    grid-area: p4;
}

.coordinatepictures {
    width: 100%;
    height: auto;
}

.menutxt {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2.7rem;
    text-align: justify;
    text-align-last: justify;
    position: absolute;
    text-transform: inherit;
    margin: 100px;
    color: whitesmoke;
}

.hamburger_line {
    background: whitesmoke;
    height: 10px;
    width: 80px;
    margin: 30px;
    border-radius: 5px;
}

.links {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.125rem;
    font-weight: bold;
}

.menu {
    background-color: black;
}

#hamburger:hover .hamburger_line {
    background-color: dimgrey;
}

.links:hover {
    color: dimgrey;
}