* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signature {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 20px;
}

#frontpage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frontpage_picture {
    width: 70vw;
}

#logo {
    height: 160px;
    width: auto;
    margin: 50px;
    margin-right: 300px;
    margin-left: 250px;
}

#menu {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "m1 p1" "p2 m2" "m3 p3" "p4 m4";
}

#menu1 {
    grid-area: m1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menupicture1 {
    grid-area: p1;
}

#menu2 {
    grid-area: m2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture2 {
    grid-area: p2;
}

#menu3 {
    grid-area: m3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture3 {
    grid-area: p3;
}

#menu4 {
    grid-area: m4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menupicture4 {
    grid-area: p4;
}

.coordinatepictures {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.textheader {
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
}

.text {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2.7rem;
    text-align: justify;
    position: absolute;
    text-transform: inherit;
    margin: 100px;
    color: whitesmoke;
}

.hamburger_line {
    background: whitesmoke;
    height: 5px;
    width: 120px;
    margin: 25px;
    border-radius: 2px;
}

.links {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.125rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.5s;
}

#hamburger:hover .hamburger_line {
    background-color: dimgrey;
}

.links:hover {
    color: dimgrey;
}

#hl1 {
    transition: ease 0.5s
}

#hl2 {
    transition: ease 0.5s
}

#hl3 {
    transition: ease 0.5s
}

#hamburger:hover #hl1 {
    transform: translate(0, 10px);
}

#hamburger:hover #hl3 {
    transform: translate(0, -10px)
}